/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  overflow: hidden;
}
mat-dialog-container {
  border: 4px solid #ff4f63;
  background-color: #ffffff;
  overflow: hidden !important;
}
.notif {
  background-color: #ffb58a !important;
  color: white !important;
}
.mat-tab-label {
  color: #ffffff !important;
}
.mat-tab-label-active {
  color: #ffffff !important;
  opacity: 1 !important;
}
.mat-ink-bar {
  color: #ffb58a !important;
  background-color: #ffb58a !important;
  height: 4px !important;
}
