.example-spacer {
  flex: 1 1 auto;
}
mat-toolbar {
  background: linear-gradient(to right, #ffb58a, #ff4f63, #ff0065);
}
.logo {
  width: 100px;
  height: 100px;
}
.user-profile {
  color: #ffffff;
  text-align: center;
}
.user-profile:hover {
  cursor: pointer;
  color: #ffb58a;
  text-align: center;
}
.user-name {
  margin-right: 10px;
}

.card-bar-patient {
  background: linear-gradient(to right, #ff0065, #ff4f63, #ffb58a);
  border-radius: 20px 20px 20px 0px;
  margin-top: 10px;
  height: auto;
  width: auto;
}

.card-bar-medecin {
  background: linear-gradient(to right, #8000ff, #4f8dff, #8ac9ff);

  border-radius: 20px 20px 0px 20px;
  margin-top: 10px;
  height: auto;
  width: auto;
}
.chat {
  width: 70%;
}
.card-bar-medecin:first-child {
  margin-top: 100px;
}
/*
.card-bar-hidden{
    visibility: hidden
} */

.handle-btn {
  background-color: #ff4f63;
  color: white;
  margin-top: 20px;
  margin-left: 100px;
  border-radius: 0px;
  width: 250px;
}

.text {
  margin-left: 10%;
  margin-top: 10px;
  font-family: roboto;
  color: #434343;
}

/* .docName{

} */

.name {
  text-transform: uppercase;
}

.bienvenue {
  font-size: 50px;
  display: inline-block;
  background: white;
  color: black;
  position: relative;
  margin-left: 30%;
}

.bienvenue::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-linear-gradient(right, #ff0065, #ff4f63, #ffb58a);
  background: linear-gradient(to left, #ff0065, #ff4f63, #ffb58a);
  content: '';
  display: block;
  mix-blend-mode: screen;
}

.red {
  background: #ffb58a;
  color: white;
  margin-top: 20px;
  margin-left: 100px;
  border-radius: 0px;
  width: 250px;
}

.champ {
  margin-top: 10px;
  height: 25px;
  width: 350px;
}

.pasRdv {
  font-family: roboto;
  color: #434343;
  font-style: italic;
}
.messages {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
}
.send-bar {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.sent-messages {
  overflow: scroll;
  height: 200px;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
.mat-btn {
  background-color: #ff4f63;
  margin-right: 5%;
  color: white;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  justify-content: center;
  text-align: center;
  margin-left: 20px;
}
